* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}
/* ===================================================================== Commons ===================================================================== */

.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 8px;
    background: #0f1b4c;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 18px 16px;
}

a {
    text-decoration: none;
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
}

.content {
    width: 1100px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* ===================================================================== Header ===================================================================== */

.header {
    background: #e6f0ff;
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    padding: 8px 14px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
}

.hero {
    margin-top: 138px;
}

.hero .info {
    width: 51%;
}

.hero .subtile {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.18px;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.19; /* 118.75% */
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
}

.hero .hero-cta {
    margin-top: 40px;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 18px 50px;
}

.hero img {
    position: absolute;
    bottom: 0;
    right: calc((100% - 1100px) / 2 - 100px);
}

/* ===================================================================== Clients ===================================================================== */

.clients {
    margin-top: 122px;
}

.clients .row-1 {
    display: flex;
}

.clients .stars {
    margin-left: auto;
}

.clients .row-2 {
    display: flex;
    margin-top: 23px;
}

.clients .row-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.clients .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.clients .rating {
    color: #7d8589;
    /* text-align: right; */
    margin-left: auto;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

/* ===================================================================== Guides ===================================================================== */

.guides .subtitle {
    margin-left: auto;
    margin-right: auto;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    width: 269px;
    height: 36px;
}

.guides .desc {
    margin: 20px auto 0;
    width: 459px;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.guides {
    margin-top: 133px;
}

.list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.list-guides .guide-items {
    margin: 0 70px;
    text-align: center;
}

.guide-items .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.guide-items .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.guide-items .arrow-right {
    margin-left: 4px;
}

.guide-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.guide-cta .btn {
    min-width: 170px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
}

/* ===================================================================== Featured ===================================================================== */

.featured {
    background: #f5fafe;
    margin-top: 120px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.featured .subtitle {
    color: #000339;
    font-family: Poppins;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.featured .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.featured .link {
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.featured .list .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item .title {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.featured .item .desc {
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
}

.featured .item {
    flex: 1;
    background-color: #fff;
}

.featured .item .info {
    margin-top: 21px;
    display: flex;
    align-items: center;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .icon {
    margin-left: 11px;
}

.featured .item .label {
    min-width: 70px;
    display: inline-block;
    margin-left: 8px;
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: 0.14px;
}

/* ===================================================================== Stats ===================================================================== */

.stats .content {
    width: 1017px;
}

.stats {
    margin-top: 70px;
    padding: 50px 0;
}

.stats .row {
    display: flex;
}

.stats .info {
    /* margin-left: 165px; */
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    border-radius: 0px 0px 12px 12px;
    background: #fff;
    padding: 45px 22px 40px;
}

.stats .stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1; /* 100% */
    letter-spacing: 0.26px;
}

.stats .stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.stats .stats-trend .icon {
    margin-left: auto;
}

.stats .avatar-block {
    margin-top: 25px;
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar-block .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
}

.stats .stats-trend .seperate {
    height: 1.2px;
    background: #e9e9e9;
    margin-top: 25px;
}
.stats .img-block .image {
    display: block;
    width: 400px;
    height: 460px;
    margin-left: auto;
    border-radius: 12px;
}

.stats .row .subtitle::before {
    position: absolute;
    top: -10px;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .row .info {
    margin: 65px 23px 69px 0px;
    padding-left: 165px;
}

.stats .row .subtitle {
    position: relative;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28; /* 128.571% */
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    color: #5a6473;
    ont-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.stats .row:last-child {
    margin-top: 110px;
    display: flex;
    justify-content: space-around;
}

.stats .row .qty {
    color: #000;
    font-family: Poppins;
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}
.stats .row .qty-desc {
    margin-top: 24px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/* ===================================================================== Subscribe ===================================================================== */

.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    height: 370px;
    align-items: center;
    display: flex;
    border-radius: 20px;
    background: #063183;
}

.subscription .info {
    padding: 0 80px;
}

.subscription .subtitle {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.subscription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    border-radius: 12px;
    background: #fff;
    color: #002366;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}
.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* ===================================================================== Footer ===================================================================== */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .list .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    color: #7a7a7e;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    line-height: 1.5;
}

.footer .social {
    margin-top: 40px;
}

.footer .row-bottom {
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .social .social-link:hover {
    opacity: 0.5;
    /* background-color: grey; */
}

.footer .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .social-link {
    width: 28px;
    height: 28px;
}

.footer .row-bottom .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
